* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .5s;
  transition: .5s;
}

body {
  background: #F9FBFF;
  color: #415167;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1205px) {
  .container {
    width: 100%;
  }
}

.header {
  background: url(../upload/bg-header.jpg) 70% 0 no-repeat;
  background-size: contain;
  position: relative;
}

@media screen and (max-width: 540px) {
  .header {
    background-size: cover;
  }
}

.header_container {
  width: 1217px;
  margin: 0 0 0 183px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding: 0 0 0 20px;
}

@media screen and (max-width: 1205px) {
  .header_container {
    width: 100%;
    margin: 0;
  }
}

.header_wrapper {
  padding-top: 53px;
}

@media screen and (max-width: 768px) {
  .header_wrapper {
    padding-top: 20px;
  }
}

.header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 54px;
  margin: 407px 0 66px;
  line-height: 70px;
}

@media screen and (max-width: 1025px) {
  .header_title {
    margin-top: 200px;
  }
}

@media screen and (max-width: 960px) {
  .header_title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media screen and (max-width: 768px) {
  .header_title {
    margin-top: 100px;
    font-size: 35px;
  }
}

@media screen and (max-width: 540px) {
  .header_title {
    font-size: 30px;
    margin-top: 70px;
  }
}

.header_title span {
  background: #C7A17A;
  padding: 0 10px;
  color: #ffffff;
}

.menu {
  width: 272px;
  background: #415167;
  color: #EDF0F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 74px 0 40px 55px;
  overflow-y: scroll;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    padding-top: 0;
  }
}

.close::before,
.close::after {
  width: 50%;
  height: 3px;
  background: #ffffff;
  position: absolute;
  border-radius: 10px;
  top: 12px;
}

.close {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 150px;
  margin-top: 10px;
  position: relative;
  z-index: 1000;
  display: none;
}

.close::before {
  content: "";
  -webkit-transform: rotate(-38deg);
  transform: rotate(-38deg);
}

.close::after {
  content: "";
  -webkit-transform: rotate(38deg);
  transform: rotate(38deg);
}

@media screen and (max-width: 768px) {
  .close {
    display: inline-block;
  }
}

.menu_shop {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../img/ic-shop.png) 0 50% no-repeat;
  position: relative;
}

.menu_shop_number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #C7A17A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 16px;
  left: 13px;
}

.menu_link {
  margin-top: 30px;
}

.menu_link:first-child {
  font-weight: 700;
}

.menu_link:hover {
  color: #b3b3b3;
  text-shadow: 0 0 3px #ffffff;
}

.burger_menu span,
.burger_menu span::before,
.burger_menu span::after {
  width: 35px;
  height: 4px;
  border-radius: 4px;
  background: #415167;
  display: inline-block;
}

.burger_menu {
  margin: 20px 20px 0 0;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
}

.burger_menu span::before {
  content: "";
  margin-top: 12px;
}

.burger_menu span::after {
  content: "";
  margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
  .burger_menu {
    display: inline-block;
  }
}

.content_container {
  padding: 87px 20px 100px;
}

@media screen and (max-width: 768px) {
  .content_container {
    padding: 40px 20px;
  }
}

.content_title {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  line-height: 34px;
  margin-bottom: 72px;
}

.content_title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .content_title {
    margin-bottom: 20px;
  }
}

.content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .content_wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.content_wrapper_item {
  max-width: 226px;
  margin: 0 34px;
  padding-top: 143px;
}

.item_first {
  background: url(../img/ic-content1.png) 50% 15% no-repeat;
}

.item_second {
  background: url(../img/ic-content2.png) 50% 15% no-repeat;
}

.item_third {
  background: url(../img/ic-content3.png) 50% 15% no-repeat;
}

.item_forth {
  background: url(../img/ic-content4.png) 50% 15% no-repeat;
}

.content_wrapper_item_title {
  font-weight: 700;
  font-size: 24px;
  color: #232C38;
  text-align: center;
  margin-bottom: 12px;
}

.content_wrapper_item_text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #151D28;
  text-align: center;
}

.choice {
  background: -webkit-gradient(linear, left top, right top, from(#edf0f5), color-stop(80%, #edf0f5), color-stop(82%, #edf0f5), color-stop(80%, #edf0f5), color-stop(80%, #f9fbff), to(#f9fbff));
  background: linear-gradient(to right, #edf0f5 0%, #edf0f5 80%, #edf0f5 82%, #edf0f5 80%, #f9fbff 80%, #f9fbff 100%);
  padding: 86px 0 125px;
}

@media screen and (max-width: 960px) {
  .choice {
    padding: 20px 0;
  }
}

.choice_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@media screen and (max-width: 960px) {
  .choice_tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.choice_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 66px;
}

.choice_title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.choice_links {
  width: 88px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: inset 0 0 9px #c3cfdf;
  box-shadow: inset 0 0 9px #c3cfdf;
}

@media screen and (max-width: 960px) {
  .choice_links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}

.choice_links_link {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding: 65px 38px 55px;
}

@media screen and (max-width: 960px) {
  .choice_links_link {
    padding: 30px 70px;
  }
}

@media screen and (max-width: 540px) {
  .choice_links_link {
    padding: 20px 38px;
  }
}

.tab_active {
  background-color: #ffffff;
  border-left: 1px solid #DADADA;
}

@media screen and (max-width: 960px) {
  .tab_active {
    border-bottom: 1px solid #DADADA;
    border-left: none;
  }
}

.choice_wrapper {
  max-width: 798px;
  background: #ffffff;
}

.choice_wrapper_items {
  position: relative;
}

@media screen and (max-width: 768px) {
  .choice_wrapper_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.choice_wrapper_items_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 68px 40px 298px;
}

@media screen and (max-width: 768px) {
  .choice_wrapper_items_box {
    padding: 0 20px 40px 20px;
  }
}

.choice_wrapper_items_img {
  position: absolute;
  top: 40px;
  right: 600px;
}

@media screen and (max-width: 1205px) {
  .choice_wrapper_items_img {
    right: 500px;
    width: 363px;
    height: auto;
    top: 70px;
  }
}

@media screen and (max-width: 1025px) {
  .choice_wrapper_items_img {
    width: 303px;
  }
}

@media screen and (max-width: 768px) {
  .choice_wrapper_items_img {
    position: static;
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  .choice_wrapper_items_img {
    width: 250px;
  }
}

.choice_wrapper_items_price {
  font-weight: 600;
  font-size: 20px;
  color: #C7A17A;
  margin-top: 64px;
}

@media screen and (max-width: 540px) {
  .choice_wrapper_items_price {
    margin-top: 20px;
  }
}

.choice_wrapper_items_title {
  font-weight: 700;
  font-size: 24px;
  color: #232C38;
  margin: 12px 0;
}

.choice_wrapper_items_text {
  font-weight: 300;
  line-height: 22px;
  color: #151D28;
}

.choice_wrapper_items_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choice_wrapper_items_item_view {
  margin: 24px 38px 46px 0;
  padding-left: 52px;
}

@media screen and (max-width: 540px) {
  .choice_wrapper_items_item_view {
    margin: 20px 10px;
  }
}

.view_first {
  background: url(../img/ic-choice1.png) 0 no-repeat;
}

.view_second {
  background: url(../img/ic-choice2.png) 0 no-repeat;
}

.choice_wrapper_items_item_view_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 22px;
  font-weight: 300;
}

.choice_wrapper_items_item_view_text span {
  font-weight: 400;
}

@media screen and (max-width: 540px) {
  .choice_wrapper_items_item_view_text {
    font-size: 11px;
    line-height: 18px;
  }
}

.choice_wrapper_items_links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 0;
}

.choice_wrapper_items_links_button {
  color: #ffffff;
  width: 166px;
  height: 38px;
  font-weight: 700;
  background: #C7A17A;
  border-radius: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.choice_wrapper_items_links_button:hover {
  background: #d9c06f;
}

@media screen and (max-width: 540px) {
  .choice_wrapper_items_links_button {
    width: 120px;
  }
}

.choice_wrapper_items_links_link {
  font-weight: 700;
}

.choice_wrapper_items_links_link:hover {
  color: #d9c06f;
}

.promo {
  padding: 88px 0 128px;
  background: -webkit-gradient(linear, left top, right top, from(#f9fbff), color-stop(82%, #f9fbff), color-stop(82%, #415167), to(#415167));
  background: linear-gradient(to right, #f9fbff 0%, #f9fbff 82%, #415167 82%, #415167 100%);
}

@media screen and (max-width: 960px) {
  .promo {
    padding: 40px 0;
  }
}

@media screen and (max-width: 540px) {
  .promo {
    background: #f9fbff;
  }
}
@media screen and (max-width: 540px) {
  .promo_container {
   display: flex;
   flex-direction: column;
   align-items: center;
  }
}
.promo_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 64px;
}

.promo_title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 30px;
}

@media screen and (max-width: 540px) {
  .promo_title span {
    font-size: 25px;
  }
}

@media screen and (max-width: 540px) {
  .promo_title {
    width: 270px;
    margin: 20px;
    font-size: 19px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.promo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 960px) {
  .promo_wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 540px) {
  .promo_wrapper {
    justify-content: center;
  }
}

.promo_wrapper_item {
  max-width: 360px;
  margin-right: 40px;
  background: #ffffff;
  cursor: pointer;
}

.promo_wrapper_item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 540px) {
  .promo_wrapper_item:last-child {
   margin: 20px;
  }
}
.promo_wrapper_item:hover {
  -webkit-box-shadow: 0 0 20px #c3cfdf;
  box-shadow: 0 0 20px #c3cfdf;
}

@media screen and (max-width: 960px) {
  .promo_wrapper_item {
    margin: 20px;
  }
}

@media screen and (max-width: 540px) {
  .promo_wrapper_item {
    width: 263px;
  }
}

.promo_wrapper_item_img {
  width: 100%;
  height: 345px;
}

@media screen and (max-width: 960px) {
  .promo_wrapper_item_img {
    height: 230px;
  }
}

@media screen and (max-width: 540px) {
  .promo_wrapper_item_img {
    height: 150px;
  }
}

.img_first {
  background: #eaedf3 url(../img/promo1.png) 50% no-repeat;
}

@media screen and (max-width: 960px) {
  .img_first {
    background-size: 77%;
  }
}

.img_second {
  background: #eaedf3 url(../img/promo2.png) 50% no-repeat;
}

@media screen and (max-width: 960px) {
  .img_second {
    background-size: 77%;
  }
}

.img_third {
  background: #eaedf3 url(../img/promo3.png) 50% no-repeat;
}

@media screen and (max-width: 960px) {
  .img_third {
    background-size: 77%;
  }
}

.promo_wrapper_item_prices {
  margin: 42px 0 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.promo_wrapper_item_prices_price {
  font-weight: 600;
  font-size: 20px;
  color: #C7A17A;
  margin-right: 20px;
}

.promo_wrapper_item_prices_price_line {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}

.promo_wrapper_item_title {
  font-weight: 700;
  font-size: 24px;
  color: #232C38;
  margin-left: 40px;
}
@media screen and (max-width: 540px) {
  .promo_wrapper_item_title {
    width: 218px;
  }
}
.promo_wrapper_item_text {
  font-weight: 300;
  line-height: 22px;
  color: #151D28;
  margin: 10px 40px 32px 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .promo_wrapper_item_text {
    font-size: 14px;
  }
}

.promo_wrapper_item_buttons {
  margin: 0 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .promo_wrapper_item_buttons {
    font-size: 14px;
  }
}

.promo_wrapper_item_buttons_button {
  max-width: 134px;
  background: #C7A17A;
  border-radius: 19px;
  padding: 8px 15px;
}

.promo_wrapper_item_buttons_button:hover {
  background: #d9c06f;
}

.promo_wrapper_item_buttons_link {
  font-weight: 700;
}

.promo_wrapper_item_buttons_link:hover {
  color: #d9c06f;
}

footer {
  background: #EDF0F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 0;
  font-weight: 300;
}
